@media (max-width: 800px) {
  :root {
    font-size: 55%;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 1fr;
  }

  .navbar {
    height: auto;
    position: static;
    overflow-y: scroll;
  }
}
