html {
  font-family: sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

#navbar {
}

#title {
  font-size: 3rem;
  background-color: yellow;
  text-align: center;
  padding: 2rem;
}

.link-list {
  font-size: 2rem;
  width: 100%;
  max-height: 30rem;
  overflow-y: scroll;

  list-style: none;
  margin: 0 auto;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
}

.nav-link {
  display: block;
  padding: 2rem 3rem;
  border-top: 1px solid black;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: black;
}
