:root {
  font-family: Inter, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --color-1: #1e293b;
  --color-2: #475569;
  --color-3: #e4e4e7;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  color: var(--color-1);
  min-width: 31rem;

  display: grid;
  grid-template-columns: 35rem 1fr;
}

/* NAVBAR */
.navbar {
  background-color: var(--color-1);

  position: sticky;
  top: 0;
  height: 100vh;
}

.navbar__title {
  background: radial-gradient(
    circle,
    rgba(255, 244, 75, 1) 0%,
    rgba(255, 215, 0, 1) 100%
  );
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
}

.navbar__links {
  font-size: 1.6rem;
  list-style: none;

  display: flex;
  flex-direction: column;
}

.navbar__link {
  display: block;
  padding: 1.4rem 3rem;
  border-top: 1px solid var(--color-2);
}

.navbar__link:hover {
  background-color: var(--color-2);
}

.navbar__link:link,
.navbar__link:visited {
  text-decoration: none;
  color: var(--color-3);
}

/* MAIN DOC */
.main {
  padding: 3.2rem;
}

.topic:not(.topic:last-child) {
  margin-bottom: 1rem;
}

.topic__header {
  font-size: 2.8rem;
  font-weight: 500;
}

.topic__article {
  padding: 2.4rem 1.4rem;
}

.topic__article > p:not(p:first-child):not(code + p),
.topic__article > ul {
  margin-top: 2rem;
}

.topic__article li:not(li:last-child) {
  margin-bottom: 1.8rem;
}

.topic__article > p,
ul {
  font-size: 1.6rem;
  line-height: 1.4;
}

.topic__article > ul {
  padding-left: 6rem;
}

.topic__article > code {
  background-color: var(--color-3);
  display: block;
  font-size: 1.3rem;
  line-height: 2;

  padding: 1.6rem 1.4rem;
  margin: 1.4rem;

  text-align: left;
  white-space: pre-line;
  white-space: pre-line;
  word-break: break-all;
  word-wrap: normal;
}
