html {
  font-family: Inter, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  min-width: 34rem;
  background-color: #333;
  color: white;
}

/* NAVBAR */

#navbar {
  height: 100vh;
  min-width: 32rem;

  position: fixed;
  top: 0;
  left: 0;
}

#title {
  font-size: 3rem;
  font-weight: 600;
  background: rgb(255, 215, 0);
  background: radial-gradient(
    circle,
    rgba(255, 244, 75, 1) 0%,
    rgba(255, 215, 0, 1) 100%
  );
  color: #333;
  text-align: center;
  padding: 2rem;
}

.link-list {
  font-size: 1.6rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: block;
  padding: 1.4rem 3rem;
}

.nav-link {
  border-top: 1px solid white;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: white;
}

/* MAIN DOC */
#main-doc {
  padding: 3.2rem;
  margin-left: 32rem;
  background-color: white;
  color: #333;
}

.main-section:not(.main-section:last-child) {
  margin-bottom: 1rem;
}

.main-section header {
  font-size: 2.8rem;
  font-weight: 500;
}

.topic-article {
  padding: 2.4rem 1.4rem;
}

.topic-article p:not(p:first-child):not(code + p),
.topic-article ul {
  margin-top: 2rem;
}

.topic-article li:not(li:last-child) {
  margin-bottom: 1.8rem;
}

.topic-article p,
ul {
  font-size: 1.6rem;
  line-height: 1.4;
}

.topic-article ul {
  padding-left: 6rem;
}

.topic-article code {
  display: block;
  font-size: 1.3rem;
  line-height: 2;
  background-color: #f2f2f2;
  padding: 1.6rem 1.4rem;
  margin: 1.1rem;

  white-space: pre-line;
  word-break: normal;
  word-wrap: normal;
}
